{% load static %}

<div class="wrapper-comp-settings editor-with-buttons is-active" id="settings-tab">
  <ul class="list-input settings-list">

    <li class="field comp-setting-entry is-set">
      <div class="wrapper-comp-setting">
        <label class="label setting-label" for="edit_display_name"> "Display Name" </label>
        <input class="input setting-input" id="edit_display_name" value="{{ display_name }}" type="text">
      </div>
    </li>

    <li class="field comp-setting-entry is-set">
      <div class='img_url_fields'>
          <div class="wrapper-comp-setting">
            <label class="label setting-label" for="urls"> "Img Order" </label>
            <ul class="sortable urls">
              {% for url in img_urls %}
                <li class="ui-state-default">
                  <img class="preview" data-path="{{url}}" src="{% get_media_prefix %}{{url}}">
                  <button class="delete_img" data-path="{{url}}">×</button>
                </li>
              {% endfor %}
            </ul>
          </div>
      </div>
    </li>

    <li class="field comp-setting-entry is-set">
      <div class="wrapper-comp-setting">
        <label class="label setting-label" for="files"> "Files" </label>
        <input class="input setting-input" id="files" type="file" multiple/>
      </div>
    </li>

    <li class="field comp-setting-entry is-set">
      <div class="wrapper-comp-setting">
        <label class="label setting-label" for="interval"> "Interval" </label>
        <input class="input setting-input" id="interval" value="{{ interval }}" type="text">
      </div>
    </li>

  </ul>

  <div class="xblock-actions">
    <ul>
      <li class="action-item">
        <a href="#" class="button action-primary action-save"> Save </a>
      </li>
      <li class="action-item">
        <a href="#" class="button action-cancel"> Cancel </a>
      </li>
    </ul>
  </div>
</div>