{% load static %}

<div class="carousel">
  <h1>{{display_name}}</h1>
  <div class="slideshow-container" interval="{{interval}}">

    {% for url in img_urls %}
      <div class="slide fade">
        {% if img_urls|length > 1 %}
          <div class="numbertext">{{ forloop.counter }} / {{img_urls|length}}</div>
        {% endif %}
        <img src="{% get_media_prefix %}{{url}}">
      </div>
    {% endfor %}

    {% if img_urls|length > 1 %}
      <a class="prev">&#10094;</a>
      <a class="next">&#10095;</a>
  </div>
    <br>
    <div style="text-align:center">
      {% for img in img_urls %}
        <span class="dot" data-index="{{ forloop.counter }}"></span>
      {% endfor %}
    {% endif %}
  </div>
</div>
